<h2>Paineis atualmente cadastrados:</h2>
<a href="/admin/paineis/add"><button class="btn btn-success">Novo painel</button></a>
    <h5>DATA HOJE:{{datahj}}</h5>
    <h5>DATA UM MES:{{formatada}}</h5>
    <h5>DATA UM MES:{{formatadaMes}}</h5>
<div class="header-paineil mt-4">
    <div class="inner-header-paineil">
        <li><h6>Código</h6></li>
        <li><h6>Nº Pedido</h6></li>
        <li><h6>Cliente</h6></li>
        <li><h6>Montador</h6></li>
        <li><h6>Ordem do pedido</h6></li>
        <li><h6>Descrição do painel</h6></li>
        <li class="editar"><h6>Editar</h6></li>
        <li class="deletar"><h6>Deletar</h6></li>
    </div>
</div>
{{#each paineis}}
    <div class="card">
        <div class="card-body painel-body">
            <h6 class="">{{codigo}}</h6>
            <h6 style="margin-right: 39px;">{{num_pedido}}</h6>
            <h6 style="margin-right: 10px;">{{cliente.nome}}</h6>
            <h6 style="margin-right: 35px;">{{montador}}</h6>
            <h6 style="width: 170px; margin-right: 22px;">{{ordem}}</h6>
            <div class="desc">
                <p>{{descricao}}</p>
            </div>
            <a href="" class=""><img src="../edit.png" alt="imagem"></a>
            <a href=""><img src="../delete.png" alt="imagem"></a>
            
            <br>
            <small>{{dt_registro}}</small>
            <br><br>
            
            <a href="/admin/paineis/edit/{{_id}}"><button class="btn btn-primary">Editar Painel</button></a>
            <a href="/admin/paineis/deletar/{{_id}}"><button class="btn btn-danger">Deletar</button></a>
            <a href="/admin/painel/{{_id}}/{{cliente.nome}}"><button class="btn btn-danger">leia mais</button></a>
        </div>
    </div>
{{else}}
<p>Nenhum painel registrado!</p>
{{/each}}