<h2>Paineis atualmente cadastrados:</h2>
<a href="/admin/paineis/add"><button class="btn btn-success">Novo painel</button></a>
<div class="header-paineil mt-4">
    <div class="inner-header-paineil">
        <li class="codigo"><h6>Codigo</h6></li>
        <li class="npedido"><h6>Nº Pedido</h6></li>
        <li class="cliente"><h6>Cliente</h6></li>
        <li class="status"><h6>Status</h6></li>
        <li class="ordem"><h6>Ordem do pedido</h6></li>
        <li class="desc"><h6>Descrição do painel</h6></li>
        <li class="qr-code"><h6>Qr-Code</h6></li>
        <li class="editar"><h6>Editar</h6></li>
        <li class="deletar"><h6>Deletar</h6></li>
    </div>
</div>
{{#each paineis}}
    <div class="card">
        <div class="card-body painel-body">
            <h5>Codigo:{{codigo}}</h4>
            <h5>Cliente: {{cliente.nome}}</h5>
            <h5>Montador: {{montador}}</h5>
            <h5>Nº pedido: {{num_pedido}}</h5>
            <h5>Ordem pedido: {{ordem}}</h5>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{dt_pedido}}</small>
            <br>
            <a href="/admin/paineis/edit/{{_id}}"><button class="btn btn-primary">Editar Painel</button></a>
            <a href="/admin/paineis/deletar/{{_id}}"><button class="btn btn-danger">Deletar</button></a>
        </div>
    </div>
{{else}}
<p>Nenhum painel registrado!</p>
{{/each}}