<h2 style="text-align: center; margin-top: 1rem" class="">Paineis atualmente cadastrados:</h2>
<div class="header-paineil mt-4">
    <div class="inner-header-paineil">
        <li><h6>Código</h6></li>
        <li><h6>Nº Pedido</h6></li>
        <li><h6>Cliente</h6></li>
        <li><h6>Montador</h6></li>
        <li><h6>Ordem do pedido</h6></li>
        <li><h6>Descrição do painel</h6></li>
        <li class="editar"><h6>Editar</h6></li>
        <li class="deletar"><h6>Deletar</h6></li>
    </div>
</div>
{{#each paineis}}
<a href="/admin/painel/{{_id}}/{{cliente.nome}}" style="text-decoration: none; color: rgb(20, 20, 20)">

    <div class="card tudo">
        <div class="card-body painel-body">
            <h6 style="margin-right: px;">{{codigo}}</h6>
            <h6 style="margin-right: 30px;">{{num_pedido}}</h6>
            <h6 style="margin-right: 6px;">{{cliente.nome}}</h6>
            <h6 style="margin-right: 27px;">{{montador}}</h6>
            <h6 style="width: 175px; margin-right: 10px;">{{ordem}}</h6>
            <div class="desc">
                <p>{{descricao}}</p>
            </div>
            <a href="/admin/paineis/edit/{{_id}}" class="editar2"><img src="../edit3.png" alt="imagem"></a>
            <a href="/admin/paineis/deletar/{{_id}}" onclick="return confirm('Você tem certeza de que quer deletar este painel?');" class="deletar"><img src="../delete3.png" alt="imagem"></a>
            {{!-- <a href="#" class="openModal deletar"><img src="../delete3.png" alt="imagem"></a> --}}
 
        </div>
    </div>
</a>

{{else}}
<p>Nenhum painel registrado!</p>
{{/each}}
<a href="/admin/paineis/add" class="add-icon"><img src="../add2.png" alt=""></a>