<h2>Paineis atualmente cadastrados:</h2>
<a href="/admin/paineis/add"><button class="btn btn-success">Novo painel</button></a>
{{#each paineis}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>Codigo:{{codigo}}</h4>
            <h5>Cliente: {{cliente.nome}}</h5>
            <h5>Montador: {{montador}}</h5>
            <h5>Nº pedido: {{num_pedido}}</h5>
            <h5>Ordem pedido: {{ordem}}</h5>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{dt_pedido}}</small>
            <br>
            <a href="/admin/paineis/edit/{{_id}}"><button class="btn btn-primary">Editar Painel</button></a>
            <a href="/admin/paineis/deletar/{{_id}}"><button class="btn btn-danger">Deletar</button></a>
        </div>
    </div>
{{else}}
<p>Nenhum painel registrado!</p>
{{/each}}