<h4>Pagina para painel individual</h4>
<h5>Código: {{painel.codigo}}</h5>
<h5>Cliente: {{fodase.nome}}</h5>
<h5>Descrição do painel: {{painel.descricao}}</h5>
<h5>Montador: {{painel.montador}}</h5>
<h5>Número do pedido: {{painel.num_pedido}}</h5>
<h5>Ordem de compra: {{painel.ordem}}</h5>