<h4>Pagina para painel individual</h4>
<div class="card">
    <div class="card-body">
        <h5>Código: {{painel.codigo}}</h5>
        <h5>Descrição do painel: {{painel.descricao}}</h5>
        <h5>Montador: {{painel.montador}}</h5>
        <h5>Número do pedido: {{painel.num_pedido}}</h5>
        <h5>Ordem de compra: {{painel.ordem}}</h5>
        <h5>Valor: {{painel.valor}}</h5>
        <h5>Data Previsão: {{painel.dt_previsao}}</h5>
        <h5>Data Pedido: {{painel.dt_pedido}}</h5>
        <h5>Obervação: {{painel.observacao}}</h5>
    </div>
</div>